# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*

# Logs
logs/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Build / coverage
dist/
build/
coverage/

# Editor
.vscode/
.idea/

# Archivos temporales
tmp/
temp/

# Certificados / claves
*.pem
*.key